.dabox{
    height: 465px;
    width:  270px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(17, 231, 196);
    padding-top: 15px;
}

.result{
    height: 50px;
    width:  250px;
    border: 1px dotted  blueviolet;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.key{
    width: 46px;
    background-color: aquamarine;
    display: inline-block;  
    margin:3px 0px  8px 4px;
    vertical-align: bottom;
    text-align: center;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    box-shadow: 0 3px 0 grey, 0px 2px 5px black ;
}